<div class="row" *ngIf="!backend.logged_in">
  <form>
    <div class="form-group">
      <label for="username">username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        aria-describedby="usernameHelp"
        placeholder="Enter Username"
        [(ngModel)]="username"
        name="username"
      >
      <small id="usernameHelp" class="form-text text-muted">
        This is a username that we assigned to you, not your email address.
      </small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
      >
    </div>
    <!--<div class="form-check">-->
      <!--<label class="form-check-label">-->
        <!--<input type="checkbox" class="form-check-input">-->
        <!--Check me out-->
      <!--</label>-->
    <!--</div>-->
    <div class="alert alert-danger" role="alert" *ngIf="backend.loginErr">
      Your login is invalid. Please try again.
    </div>
    <button type="button" (click)="login()" class="btn btn-primary">LOGIN</button>
  </form>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-danger" role="alert" *ngIf="backend.error">
      <strong>Sorry there was an error with your request:</strong><br>
      {{backend.errorMsg}}
    </div>
  </div>
</div>
<div class="row" *ngIf="backend.logged_in">
  <div class="col-sm-6 col-lg-3">
    <!--loading facade status-->
    <div class="card" *ngIf="!backend.status.know_on">
      <div class="card-block">
        <div class="h4 m-0">Please stand by <i class="fa fa-spinner fa-pulse fa-fw"></i></div>
        <small class="text-muted">Loading facade status</small>
      </div>
    </div>
    <!--content-->
    <div class="card" *ngIf="backend.status.know_on">
      <div class="card-block">
        <div class="h4 m-0 pull-left">04:32h</div>
        <div class="pull-right">
          <button
            type="button"
            class="btn btn-success"
            *ngIf="!backend.facadeRunning"
            (click)="backend.switchFacade(true)"
            [disabled]="backend.status.changing"
          >
            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="backend.status.changing"></i>
            TURN ON
          </button>

          <button
            type="button"
            class="btn btn-danger"
            *ngIf="backend.facadeRunning"
            (click)="backend.switchFacade(false)"
            [disabled]="backend.status.changing"
          >
            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="backend.status.changing"></i>
            TURN OFF
          </button>
        </div>

        <!--<label class="switch switch-lg switch-text switch-primary pull-right">-->
          <!--<input type="checkbox" class="switch-input" [(ngModel)]="backend.facadeRunning" >-->
          <!--<span class="switch-label" data-on="On" data-off="Off"></span>-->
          <!--<span class="switch-handle"></span>-->
        <!--</label>-->
        <div class="clearfix"></div>
        <div>Until facade turns
          <span *ngIf="backend.facadeRunning">OFF</span>
          <span *ngIf="!backend.facadeRunning">ON</span>
        </div>
        <div class="progress progress-xs my-1" *ngIf="backend.facadeRunning">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress progress-xs my-1" *ngIf="!backend.facadeRunning">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!--<small class="text-muted">Lorem ipsum dolor sit amet enim.</small>-->
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <!--loading facade status-->
    <div class="card" *ngIf="!backend.status.know_cal">
      <div class="card-block">
        <div class="h4 m-0">Please stand by <i class="fa fa-spinner fa-pulse fa-fw"></i></div>
        <small class="text-muted">Loading facade calendar</small>
      </div>
    </div>
    <!--content-->
    <div class="card" *ngIf="backend.status.know_cal">
      <div class="card-block">
        <div class="h4 m-0">{{backend.cal.on}}-{{backend.cal.off}}</div>
        <div>Today's facade time</div>
        <small class="text-muted">Default app: {{backend.cal.default}}</small>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <!--loading facade status-->
    <div class="card" *ngIf="!backend.status.know_app">
      <div class="card-block">
        <div class="h4 m-0">Please stand by <i class="fa fa-spinner fa-pulse fa-fw"></i></div>
        <small class="text-muted">Loading facade app</small>
      </div>
    </div>
    <!--content-->
    <div class="card" *ngIf="backend.status.know_app">
      <div class="card-block" *ngIf="backend.app.name !== ''">
        <div class="h4 m-0 pull-left">APP {{backend.app.name}}</div>
        <div class="pull-right">
          <button
            type="button"
            class="btn btn-danger"
            (click)="backend.killApp()"
            [disabled]="backend.status.changing"
          >
            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="backend.status.changing"></i>
            TERMINATE
          </button>
        </div>

        <div class="clearfix"></div>
        <div>Current app running until: COUNTDOWN</div>
        <div class="progress progress-xs my-1">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">Started by {{backend.app.user}}</small>
      </div>
      <div class="card-block" *ngIf="backend.app.name === ''">
        <div class="h4 m-0 pull-left">No app running</div>
        <div class="pull-right">
          <button
            type="button"
            class="btn btn-success"
            (click)="launchApp()"
            [disabled]="backend.status.changing"
          >
            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="backend.status.changing"></i>
            LAUNCH
          </button>
        </div>

        <div class="clearfix"></div>
        <div>Either the facade is off, or you just terminated an app</div>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0">Have a nice day :)</div>
        <!--<div>Lorem ipsum...</div>-->
        <!--<div class="progress progress-xs my-1">-->
          <!--<div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
        <!--</div>-->
        <!--<small class="text-muted">Lorem ipsum dolor sit amet enim.</small>-->
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->
