<div class="row" *ngIf="!backend.logged_in">
  <form>
    <div class="form-group">
      <label for="username" i18n>Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        aria-describedby="usernameHelp"
        placeholder="Enter Username"
        [(ngModel)]="username"
        name="username"
      >
      <small id="usernameHelp" class="form-text text-muted" i18n>
        This is a username that we assigned to you, not your email address.
      </small>
    </div>
    <div class="form-group">
      <label for="password" i18n>Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
      >
    </div>
    <!--<div class="form-check">-->
    <!--<label class="form-check-label">-->
    <!--<input type="checkbox" class="form-check-input">-->
    <!--Check me out-->
    <!--</label>-->
    <!--</div>-->
    <div class="alert alert-danger" role="alert" *ngIf="backend.loginErr" i18n>
      Your login is invalid. Please try again.
    </div>
    <button type="button" (click)="login()" class="btn btn-primary" i18n>LOGIN</button>
  </form>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-danger" role="alert" *ngIf="backend.error">
      <strong i18n>Sorry there was an error with your request:</strong><br>
      {{backend.errorMsg}}
    </div>
  </div>
</div>
<div class="row" *ngIf="backend.logged_in">
  <div class="col-sm-6 col-lg-3">
    <!--loading facade status-->
    <div class="card" *ngIf="!backend.status.know_on">
      <div class="card-block">
        <div class="h4 m-0" i18n>Please stand by <i class="fa fa-spinner fa-pulse fa-fw"></i></div>
        <small class="text-muted" i18n>Loading facade status</small>
      </div>
    </div>
    <!--content-->
    <div class="card" *ngIf="backend.status.know_on">
      <div class="card-block">
        <div class="h4 m-0 pull-left">04:32h</div>
        <div class="pull-right">
          <button
            type="button"
            class="btn btn-success"
            *ngIf="!backend.facadeRunning"
            (click)="backend.switchFacade(true)"
            [disabled]="backend.status.changing"
            i18n
          >
            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="backend.status.changing"></i>
            TURN ON
          </button>

          <button
            type="button"
            class="btn btn-danger"
            *ngIf="backend.facadeRunning"
            (click)="backend.switchFacade(false)"
            [disabled]="backend.status.changing"
            i18n
          >
            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="backend.status.changing"></i>
            TURN OFF
          </button>
        </div>

        <!--<label class="switch switch-lg switch-text switch-primary pull-right">-->
        <!--<input type="checkbox" class="switch-input" [(ngModel)]="backend.facadeRunning" >-->
        <!--<span class="switch-label" data-on="On" data-off="Off"></span>-->
        <!--<span class="switch-handle"></span>-->
        <!--</label>-->
        <div class="clearfix"></div>
        <div i18n>Until facade turns
          <span *ngIf="backend.facadeRunning">OFF</span>
          <span *ngIf="!backend.facadeRunning">ON</span>
        </div>
        <div class="progress progress-xs my-1" *ngIf="backend.facadeRunning">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress progress-xs my-1" *ngIf="!backend.facadeRunning">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
        <!--<small class="text-muted">Lorem ipsum dolor sit amet enim.</small>-->
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <!--loading facade status-->
    <div class="card" *ngIf="!backend.status.know_cal">
      <div class="card-block">
        <div class="h4 m-0" i18n>Please stand by <i class="fa fa-spinner fa-pulse fa-fw"></i></div>
        <small class="text-muted" i18n>Loading facade calendar</small>
      </div>
    </div>
    <!--content-->
    <div class="card" *ngIf="backend.status.know_cal">
      <div class="card-block">
        <div class="h4 m-0">{{backend.cal.on}}-{{backend.cal.off}}</div>
        <div i18n>Today's facade time</div>
        <small class="text-muted" i18n>Default app: {{backend.cal.default}}</small>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <!--loading facade status-->
    <div class="card" *ngIf="!backend.status.know_app">
      <div class="card-block">
        <div class="h4 m-0" i18n>Please stand by <i class="fa fa-spinner fa-pulse fa-fw"></i></div>
        <small class="text-muted" i18n>Loading facade app</small>
      </div>
    </div>
    <!--content-->
    <div class="card" *ngIf="backend.status.know_app">
      <div class="card-block" *ngIf="backend.app.name !== ''">
        <div class="h4 m-0 pull-left">APP {{backend.app.name}}</div>
        <div class="pull-right">
          <button
            type="button"
            class="btn btn-danger"
            (click)="backend.killApp()"
            [disabled]="backend.status.changing"
            i18n
          >
            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="backend.status.changing"></i>
            TERMINATE
          </button>
        </div>

        <div class="clearfix"></div>
        <div i18n>Current app running until: COUNTDOWN</div>
        <div class="progress progress-xs my-1">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted" i18n>Started by {{backend.app.user}}</small>
      </div>
      <div class="card-block" *ngIf="backend.app.name === ''">
        <div class="h4 m-0 pull-left" i18n>No app running</div>
        <div class="pull-right">
          <!--(click)="launchApp()"-->
          <button
            type="button"
            class="btn btn-success"
            [disabled]="backend.status.changing"
            i18n
            data-toggle="modal"
            (click)="appPickerModal.show()"
          >
            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="backend.status.changing"></i>
            LAUNCH
          </button>
        </div>

        <div class="clearfix"></div>
        <div i18n>Either the facade is off, or you just terminated an app</div>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0" i18n>Have a nice day :)</div>
        <!--<div>Lorem ipsum...</div>-->
        <!--<div class="progress progress-xs my-1">-->
        <!--<div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
        <!--</div>-->
        <!--<small class="text-muted">Lorem ipsum dolor sit amet enim.</small>-->
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->

<!--TODO this should be made into a separate component-->
<div bsModal #appPickerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="appPickerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Pick an app to start</h4>
        <button type="button" class="close" (click)="appPickerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please select an app you want to start from this list:</p>
        <div class="form-group row">
          <label class="col-md-3 form-control-label">Apps</label>
          <div class="col-md-9">
            <div class="radio" *ngFor="let app of backend.applist">
              <label for="radio-{{app.name}}">
                <input
                  type="radio"
                  id="radio-{{app.name}}"
                  [(ngModel)]="apppicker"
                  name="apppicker"
                  value="{{app.name}}"> {{app.name|capitalize}}
              </label>
            </div>
          </div>
        </div>
        <p>Selected: {{apppicker|json}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="appPickerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary">Launch</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
